div {
  display: inline-block;
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background: tomato;
    border: none;
    outline: none;
    &.active {
      background: green;
    }
  }
}
