<div class="container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <h1>Angular Forms</h1>

        <div class="form-control">
            <label>Email</label>
            <input type="text" placeholder="Email" formControlName="email">

            <pre>
                {{form.get('email').errors | json}}
            </pre>

            <div *ngIf="form.get('email').invalid && form.get('email').touched" class="validation">
                <small *ngIf="form.get('email').errors.required">
                    Field Email can not be empty
                </small>
                <small *ngIf="form.get('email').errors.email">
                    Enter the correct Email
                </small>
                <small *ngIf="form.get('email').errors.restrictedEmails">
                    Email {{form.get('email').value}} is not allowed
                </small>
                <small *ngIf="form.get('email').errors.uniqEmail">
                    Email {{form.get('email').value}} is busy
                </small>
            </div>
        </div>

        <div class="form-control">
            <label>Пароль</label>
            <input type="password" placeholder="Пароль" formControlName="password">

            <!--  <pre>{{form.get('password').errors | json}}</pre> -->

            <div *ngIf="form.get('password').invalid && form.get('password').touched" class="validation">

                <small *ngIf="form.get('password').errors.required">
                    Field Password can not be empty
                </small>

                <small *ngIf="form.get('password').errors.minlength">
                    Length must be at least {{form.get('password').errors.minlength.requiredLength}} characters.

                    Now the number of characters {{form.get('password').errors.minlength.actualLength}}

                </small>
            </div>
        </div>

        <div class="card" formGroupName="address">
            <h2>Адрес</h2>

            <div class="form-control">
                <label>Страна</label>

                <select formControlName="country">
                    <option value="nz">New Zealand</option>
                    <option value="ua">Ukraine</option>
                    <option value="pt">Portugal</option>
                </select>
            </div>

            <div class="form-control">
                <input type="text" formControlName="city" placeholder="city">
            </div>

            <button class="btn" type="button" (click)="setCapital()">Выбрать столицу</button>
        </div>

        <div class="card" formGroupName="skills">
            <h2>Ваши навыки</h2>
            <button class="btn" type="button" (click)="addSkill()">Добавить умение</button>
            <!-- must add to form.get('skills') => ['controls'] or value -->

            <div class="form-control" *ngFor="let control of form.get('skills')['controls']; index as idx">
                <label>Our Skill {{idx + 1}}</label>

                <!-- for validation; [] - to work with a group and the index is an array of data, not a string -->
                <input type="text" [formControlName]="idx">
            </div>
        </div>

        <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Send</button>

    </form>
    <hr>
    <h1>Angular NgModels</h1>
    <app-switch [(ngModel)]="appState" (ngModelChange)="handleChange()"></app-switch>
    <hr>
    <p>appState: {{appState}}</p>
</div>