<div class="container">
  <button class="btn1" (click)="animate()">Animate</button>
  <button class="btn2" (click)="boxState = 'special'">Set Special State </button>
  <button class="btn3" (click)="visible = !visible">Toggle Visibility</button>
  <hr>

  <div class="wrap">

    <app-animate></app-animate>

    <!--     <div class="box" [@box]="boxState" *ngIf="visible" (@box.start)="animationStarted($event)"
      (@box.done)="animationDone($event)">

      <h4> {{ boxState | uppercase }}</h4>
    </div> -->
  </div>
</div>