.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.wrap {
  padding-top: 3rem;
  width: 500px;
  margin: 0 auto;
}

.box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 15px;
  &:focus {
    display: none;
  }
  &:hover {
    background-color: lightcoral;
  }
}

.btn2 {
  background-color: #008cba;
}
.btn3 {
  background-color: #555555;
}
