<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in to admin panel</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as errorFromFirebase">{{errorFromFirebase}}
  </div>

  <div class="alert alert-info" *ngIf="message">{{message}}
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">

    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">

      <small *ngIf="form.get('email').errors.required">enter email</small>
      <small *ngIf="form.get('email').errors.email">enter the correct email</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">enter password
      </small>
      <small *ngIf="form.get('password').errors.minlength">password must be at least
        {{form.get('password').errors.minlength.requiredLength}}
        characters. The password now
        has {{form.get('password').errors.minlength.actualLength}} characters
      </small>

    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Login</button>

</form>