<div class="card">
    <h2>App Counter: {{ appCounterService.counter }}</h2>
    <button class="btn btn-primary" (click)="appCounterService.increase()">+</button>
    <button class="btn btn-warning" (click)="appCounterService.decrease()">-</button>
</div>

<div class="card">
    <h2>Local Counter: {{ localCounterService.counter }}</h2>
    <button class="btn btn-warning" (click)="localCounterService.increase()">+</button>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
</div>