<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Search post..." [(ngModel)]="searchStr">
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Name</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{post.author}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date | date: 'medium':null:'ru'}}</td>
        <td>
          <button class=" btn btn-link open" [routerLink]="['/admin', 'post', post.id, 'edit']">Open post</button>
          <a (click)="remove(post.id)">Delete</a>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>


<button style="margin-top: 50px;" (click)="testToken()">Test for Token </button>