<div class="container">
  <h1>Angular pipes</h1>

  <p>
    {{ e | number:'1.1-5' }}
  </p>
  <p>
    {{ e | number:'3.1-2' }}
  </p>
  <p>
    {{ e | number:'1.0-0' }}
  </p>
  <hr>

  <p>
    {{ str | uppercase }}
  </p>
  <p>
    {{ str | uppercase | lowercase }}
  </p>
  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>
  <hr>
  <p>{{ str | titlecase | slice:1}}</p>
  <p>{{ str | titlecase | slice:1:5}}</p>
  <p>{{ str | titlecase | slice:1:-2}}</p>
  <hr>
  <h2>Pipe Date</h2>
  <p>{{ date | date }}</p>
  <p>{{ date | date:'fullDate' }}</p>
  <p>{{ date | date:'yyyy' }}</p>
  <p>{{ date | date:'MMMM yyyy' }}</p>
  <p>{{ date | date:'MMMM dd, yyyy, HH:mm:ss' }}</p>
  <hr>
  <h2>Float Pipes</h2>
  <p>{{ float }}</p>
  <p>{{ float | currency }}</p>
  <p>{{ float | percent:'2.0-0' }}</p>
  <h2>Debugging via Pipe</h2>

  <p>{{ obj | json }}</p>
  <pre>{{ obj | json }}</pre>
  <hr>

  <h2>Create custom pipe</h2>

  <p>{{ 10 | mult}}</p>
  <p>{{ 10 | mult:2}}</p>
  <p>{{ 10 | mult:3}}</p>
  <p>{{ 10 | mult:5}}</p>
  <p>{{ 10 | mult:8}}</p>
  <p>{{ 10 | mult:13}}</p>

  <hr>

  <p>{{ 'National Geografic ' | exMarks }}</p>

  <hr>
  <h2>Filtering lists</h2>

  <!-- for search via title and  text in input-->

  <button class="btn btn-primary" (click)="searchField = 'title'">Search via Title</button>
  <button class=" btn btn-warning" (click)="searchField = 'text'">Search via Text</button>

  <button class="btn" (click)="addPost()">Add new Post</button>

  <input type=" text" [(ngModel)]="search">

  <!--        add  searchField to pipe-->
  <div *ngFor="let post of posts | filter:search:searchField" class="card">
    <h3>{{post.title}}</h3>
    <p>{{post.text}}</p>
  </div>

  <hr>
  <!-- AsyncPipe -->
  <h2>AsyncPipe</h2>

  <p>Wait for it... <b>{{ promise | async }}</b></p>

  <p>Date: {{ dateNext | async | date:'HH:mm:ss yyyy' }}</p>



  <hr>

  <h2>Realization Observable without pipe async</h2>

  <p>{{ dateNew | date:'yyyy HH:mm:ss'}}</p>

  <hr>

  <h2>working with dateNext$ stream</h2>

  <p>Date: {{ dateNext$ | async | date:'HH:mm:ss yyyy' }}</p>


</div>