<div class="container">
  <h1 class="">Angular Components</h1>
  <h2>Subheader with style from post.component.scss via encapsulation</h2>
  <!-- $event - to transfer objects to a method with the transfer of parameters from another component -->
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>

  <hr />
  <!-- // $event - in order to receive id -->
  <app-post *ngFor="let p of posts" [post]="p" (onRemove)="removePost($event)">
    <div #info>
      <small *ngIf="p.text.length > 10; else short">The post is long</small>
      <ng-template #short>
        <small>The post is short</small>
      </ng-template>
    </div>

  </app-post>





</div>