<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">

      <label for="title">Post title:</label>
      <input id="title" type="text" formControlName="title">

      <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">

        <small *ngIf="form.get('title').errors.required">Enter a title for the post
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Update</button>


  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>