<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Creating a new post</h1>

  <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">

    <label for="title">Post title:</label>
    <input id="title" type="text" formControlName="title">

    <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">

      <small *ngIf="form.get('title').errors.required">Enter a title for the post
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Post content:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">

    <label for="author">Author of the post</label>
    <input id="tiauthortle" type="text" formControlName="author">

    <div class="validation" *ngIf="form.get('author').touched && form.get('author').invalid">

      <small *ngIf="form.get('author').errors.required">Enter the author of the post
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">Create post</button>

</form>