<div class="container">
  <h1>Angular Directives</h1>
  <!-- we can use appStyle as an html attribute  -->
  <p appStyle>Space, the final frontier. These are the voyages of the Starship Enterprise.</p>
  <h4>For fontWeight</h4>
  <p appStyle="red" fontWeight="bold">
    Nori grape silver beet broccoli kombu beet greens fava bean potato quandong
    celery.
  </p>
  <h4> For [dirStyles]</h4>
  <p appStyle="red" [dirStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    ***Pommy ipsum smeg head whizz morris dancers come hither, bugger codswallop gob.***
  </p>
  <p appStyle="blue" [dirStyles]="{border: '1px solid red', borderRadius: '15px'}">
    ***Pommy ipsum smeg head whizz morris dancers come hither, bugger codswallop gob.***
  </p>
  <h4>HostBinding</h4>
  <p appStyle="steelblue" backgroundColor="indigo">Skate ipsum dolor sit amet, alley oop vert mute-air Colby Carter
    flail
    180 berm.
  </p>
  <!-- Creating a structural directive -->
  <h4>Structural Directive</h4>
  <button class="btn" (click)="isVisible = !isVisible">Toggle vivsible text</button>
  <div *ngIf="isVisible" class="wrapper">

    <p>Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin. Halvah croissant candy canes bonbon candy.
      Apple pie jelly beans topping carrot cake danish tart cake cheesecake. Muffin danish chocolate soufflé pastry
      icing
      bonbon oat cake. Powder cake jujubes oat cake. Lemon drops tootsie roll marshmallow halvah carrot cake.</p>
  </div>

  <!-- how angular creates a structural derivative using its own engine -->

  <ng-template [ngIf]="isVisible">
    <div class="wrapper wrapper-next">
      <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore
        strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Many
        say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to
        ensure the survival of the human species.</p>
    </div>
  </ng-template>

  <!-- Creating custom directive -->
  <h4> Custom directive</h4>

  <div *appIfnot="!isVisible" class="wrapper wrapper-custom">
    <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore
      strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Many
      say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to
      ensure the survival of the human species.</p>
  </div>

  <ng-template [appIfnot]="!isVisible" class="wrapper">
    <p>Busey ipsum dolor sit amet. Have you urinated? Have you drained your bladder? Are you free? Because if you
      haven't it will only come out later. I'm giving you some information that your bodily fluids may penetrate your
      clothing fibre's without warning.It's OK to get Rib-grease on your face, because you're allowing people to see
      that you're proud of these ribs.</p>
  </ng-template>

</div>