p {
  font-size: 1.5rem;
  text-align: center;
}
h4 {
  text-align: center;
  margin: 15px 0;
}

.wrapper {
  border: 1px dashed #aa6bce;
  padding: 1rem;
}
.wrapper-next {
  background-color: rgb(101, 140, 150);
}
.wrapper-custom {
  color: mediumseagreen;
  font-weight: bold;
}
